.introducao-bg {
  background: var(--cor-12) url("../img/dec/bottom-left.svg") no-repeat bottom
    160px left 20px;
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
}

.introducao-conteudo {
  padding-top: 140px;
  padding-bottom: 200px;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 80% 20%;
}
.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}

.introducao h1 span {
  color: var(--cor-p1);
}

h2 span {
  color: var(--cor-p1);
}

.introducao p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.introducao a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font-size: 18px;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .introducao a {
    padding: 12px 16px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-0);
  }
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao-conteudo {
    padding-bottom: 20px;
  }
  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .introducao img {
    height: 200px;
    width: 100%;
  }
}
