.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}
.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  padding-left: 20px;
}
.tecnologia-conteudo {
  grid-column: 1;
  padding-bottom: 160px;
  padding-top: 160px;
}

.tecnologia-conteudo > span {
  display: block;
  margin-bottom: 20px;
}

.tecnologia-conteudo h2 {
  margin-bottom: 32px;
  margin-top: 20px;
}
.tecnologia-conteudo p {
  margin-bottom: 32px;
  line-height: 1.5;
}
.tecnologia a {
  margin-bottom: 80px;
}
.tecnologia-vantagens {
  display: flex;
  gap: 40px;
  margin-top: 60px;
}

.tecnologia-vantagens h3 {
  margin-bottom: 8px;
  width: max-content;
}
.tecnologia-vantagens img {
  width: 24px;
  margin-bottom: 8px;
}
@media (max-width: 800px) {
  .tecnologia-bg {
    box-shadow: none;
  }
  .tecnologia {
    grid-template-columns: 1fr;
  }
  .tecnologia-conteudo {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .tecnologia-imagem {
    display: none;
  }
  .tecnologia a {
    margin-bottom: 60px;
  }
}
@media (max-width: 800px) {
  .tecnologia-vantagens {
    flex-direction: column;
  }
}
